{{#each events}}
<article class="article group">
  <img class="image right" src="https://images.unsplash.com/photo-1626264146563-655be5b7d9c3?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDExfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image">
  <section class="content">
    <h2 class="headline">{{this.event}}</h2>
    <p>{{this.time}}<p>Lorem ipsum dolor amet lorem ipsum dolor amet
     lorem ipsum dolor amet lorem ipsum dolor ipsum sit amet
      lorem ipsum dolor amet lorem ipsum dolor sit amet
      Fill in more text to see the text wrap below the image
    <p>
      
  </section>
</article>
{{/each}}
