<div id="centered">
    <form action={{send}} method="get">
      <h4>{{delete}} event</h4>
      <input type="text" name="event" placeholder="event"><br>
      <input type="time" name="time" placeholder="time"><br>
      <textarea name="details"  rows="8" placeholder="More details about the event"></textarea>
      <input type="submit" value="Send" id="send"><br>
    </form>

   </div>