  <header>
      <nav class="nav">
        <h1 class="logo">LOGO</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/About">About</a></li>
          <li><a href="/Help">Help</a></li>
        </ul>
        <form action="/" method="get">
          <input type="search" id="search" placeholder="Search" name="city"/>
        </form>
      </nav>
    </header>